body {
  font-family:black;
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  background-size: 100%;
}
h1{
    color: Black;
    font-family:black
}
.header {
  color:ocean blue;
  padding: 5px;
  text-align: center;
background-image: url('header.jpg');
background-size: 100%;
}

.nav {
  background-image: url('background.jpg');
  padding: 10px;
  text-align: center;
}

.nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.nav a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  min-height: 300px;
}

.footer {
  background:rgb(20, 20, 202);
  color: #fff;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 99%;
  text-align: left;
}

input[type="number"] {
  padding: 5px;
  margin: 5px 0;
}

button {
  padding: 5px 10px;
  background: blue;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: gray;
}